.projectsCore{
    background-color: #8d1616;
}
.projectsContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: #9f9c9c
}
.projects{
    border: 1px #000000 solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
