.projectsCore {
    background-color: #1b1d23;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    margin-top: 30px;
    border: 1px #000000 solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1129px) {
    .projects {
        justify-content: center;
    }
}
