@import "src/common/styles/sass/variables.scss";

.contactsCore {
background-color:$bgColor;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: #9f9c9c
}

.contactsBlock {
    border: 1px #000000 solid;
    width: 250px;
    background-color: #8d8181;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}

.contactsBlock input, .contactsBlock textArea{
    width: 100%;
    margin-bottom: 5px;
}


.button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
}
