
.skillCore {
    width: 300px;
    background-color: #8d8181;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    width: 150px;
    height: 150px;
}

.skillTitle {
    background-color: blanchedalmond;
}
