@import "src/common/styles/sass/variables.scss";
.title{
  margin: 0 0 30px;
  font-family: $titleFontFamily;
  color:#fff;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 0.6;
  letter-spacing: 5px;
  position: relative;
  .title h2{
    margin: 0;
  }
  &::before{
    content: "";
    position: absolute;
    background:$textColor;
    width: 130px;
    height: 1px;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
.title h2{
  font-weight: 400;
}
