
.title {
    margin: 30px 0 30px;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    text-transform: capitalize;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 1px;
    position: relative;
}

.title h2 {
    margin: 0;
    font-weight: 500;
}

.title::before {
    content: "";
    background: white;
    width: 300px;
    height: 1px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
}
