@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.projectCore {
  width: 450px;
  display: flex;
  background-color: $bgColor;
  flex-direction: column;


  .projectImg {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include centerImage();

    &::before {
      position: absolute;
      content: " ";
      background-color: #1b1d23;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }

    .button {
      background-color: $primaryColor;
      padding: 10px 20px;
      color: $textColor;
      position: relative;
      z-index: 1;
    }
  }

  .projectInfo {
    padding: 25px 30px;
    display: flex;
    flex-wrap: wrap ;

    .projectTitle {
      @include text($titleFontFamily, 26px, 500, 1.2);
      letter-spacing: 1px;
      margin: 0 0 5px;
    }

    .description {
      @include text($textFontFamily, 16px, 100, 1.8);
    }
  }

}
