.projectCore {
    width: 450px;
    background-color: #934a4a;
    display: flex;
    flex-direction: column;

}
.button{
    margin-top: 10px;
    background-color: #1b1d23;
    padding: 10px 20px;
}
.projectImg{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projectTitle{
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 0 5px;
}
.description{
    font-family: "Rubik",sans-serif;
    color: #fff;
    line-height: 1.1;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0 0 5px;
}
