@import "src/common/styles/sass/variables.scss";

.skillBlock {
    background-color: $bgSecondColor;

}

.skillContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: $textColor;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.icon {

    text-align: center;

    transform: rotate(45deg);

}
