.mainBlock {
    height: 100vh;
    background-color: cadetblue;
    text-align: center;
}

.text {
    width: 300px;
    background-color: #8d8181;
}

.photo {
    width: 350px;
    height: 400px;
}
