@import "src/common/styles/sass/variables.scss";
.footer {
    background-color: $bgColor;
}
.footerContainer{
    flex-direction: column;
    justify-content: space-between;
}
.title{
    background-color: #9f9c9c
}
.contacts{
    width: 250px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image{
    height: 100%;
    width: 60px;
}

.lastMessage{
    margin-top: 10px;
    background-color: #9f9c9c;
}
