.footer {
    background-color: #aa83b9;
}
.footerContainer{
    flex-direction: column;
    justify-content: space-between;
}
.title{
    background-color: #9f9c9c
}
.contacts{
    border: 1px #000000 solid;
    width: 260px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image{
    height: 100%;
    width: 60px;
}

.lastMessage{
    margin-top: 10px;
    background-color: #9f9c9c;
    border: 1px black solid;
}
